.submenu-list {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: end;
}

.submenu-list-content {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 8px 24px;
}

.submenu-list-item {
  display: flex;
  padding: 8px 8px;
  align-items: center;
  justify-content: start;

  gap: 10px;
  align-self: stretch;
}

.popup-content .submenu-list-content {
  display: flex;
  flex-direction: column;
  padding: 8px 12px 8px 12px;
}

.popup-content .submenu-list-item {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.submenu-list-item span {
  color: var(--tech-grey-hard, #647081);

  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;

  white-space: nowrap;
}

.submenu-list-item span:hover {
  color: var(--primary-primary, #408ef6);

  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.28px;

  cursor: pointer;
}

.submenu-list-item.selected span {
  color: var(--primary-primary, #408ef6);
}
